// app global css in SCSS form

// navbar--------------------------------------
.tab {
  color: $petcolor01;
}
.q-tab__label:hover {
  border-bottom:1px solid $petcolor01;
  font-weight: 900;
}
#logo {
  height: 50px;
  margin-left: 1.5rem;
}
.q-layout__shadow{
  display: none;
}
.q-header {
  @include xs {
    padding-top: 3%;
  }
  @include sm {
    padding-top: 3%;
  }
  @include lg {
    padding-top: 1%;
  }
}
.q-tabs__content a{
  @include xs {
    padding-right: 0.5rem;
  }
  @include sm {
    padding-right: 0.5rem;
  }
}

body.desktop .q-hoverable:hover > .q-focus-helper {
  background: transparent;
}

.flex-sm-center {
  @include xs {
    justify-content: center;
  }
  @include sm {
    justify-content: center;
  }
  @include md {
    justify-content: left;
  }
}
// index------------------------------------------
.my-card {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include xs {
    height: 200px;
  }
  @include sm {
    height: 180px;
  }
  @include md {
    height: 170px;
  }
  @include lg {
    height: 200px
  }
  @include xl {
    height: 300px;
  }
}

q-layout-container{
  @include xs {
    padding: 0 0.5rem;
  }
  @include sm {
    padding: 0 0.5rem;
  }
  @include md {
    padding: 0 1rem;
  }
  @include lg {
    padding: 0 2rem;
  }
  @include xl {
    padding: 0 2rem;
  }
}