// app global css in SCSS form

// 前台公版
#mainLayout {
  .nav_line {
    width: 1px;
    height: 25px;
    background: #c2b593;
    margin-top: 0.2rem;
  }
}
// 自訂 petcle 標準色
$petcolor01  : #C2B593;
$petcolor02  : #56C6BF;
$petcolor03  : #B4B4B4;
// 斷點
$breakpoint-xs: 575px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
@mixin xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}
@mixin sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

// navbar--------------------------------------
.nav-padding {
  @include xs {
    padding: 0 0rem;
  }
  @include sm {
    padding: 0 1rem;
  }
  @include lg {
    padding: 0 3rem;
  }
}

#nav {
  padding-left: 0;

  @include xs {
    justify-content: center;
  }
  @include sm {
    justify-content: center;
  }
  @include md {
    justify-content: center;
  }
  @include lg {
    justify-content: flex-end;
    padding-right: 1rem;
  }
  li {
    color: $petcolor01;
    list-style: none;
    font-size: 1rem;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $petcolor01;
      font-weight: 800;
    }
    @include xs {
      margin-left: 1rem;
    }
    @include sm {
      margin-left: 1rem;
    }
    @include md {
      margin-left: 2rem;
    }
    @include lg {
      margin-left: 2rem;
    }
  }
}

#logo {
  height: 50px;
}

.q-layout__shadow {
  display: none;
}

.q-header {
  @include xs {
    padding-top: 3%;
  }
  @include sm {
    padding-top: 3%;
  }
  @include lg {
    padding-top: 1%;
  }
}

body.desktop .q-hoverable:hover > .q-focus-helper {
  background: transparent;
}

.flex-logo-justify {
  @include xs {
    justify-content: center;
  }
  @include sm {
    justify-content: center;
  }
  @include md {
    justify-content: center;
  }
  @include lg {
    justify-content: center;
  }
  @include xl {
    justify-content: left;
  }
}

// 登入--------------------------------------------
// 調整登入圓角
#login {
  .q-field--standard .q-field__control:before {
    border-bottom: none;
  }
  .q-field--standard .q-field__control:after {
    background: transparent
  }
  q-input{
    text-indent: 30px;
  }

  .login-input {
    width: 100%;
    font-size: 1.2rem;
    color: $petcolor03;
    font-weight: 700;
    margin-right: 2rem;
    .account_text {
      margin: -0.9rem 1rem 0 0;
      text-align: right;
    }
    input {
      border-radius: 50px;
      text-indent: 20px;
      font-weight: 300;
      font-size: 1rem;
    }

    .q-field__control {
      background:#eee;
      border-radius: 50px;
      height: 56px;
      max-width: 100%
    }
  }
}
.q-dialog__inner > div {
  border-radius: 15px;
}

#logo-login {
  height: 80px;
}

.login-line {
  width: 400px;
  height: 1px;
  background: $petcolor02;
}

.login-font {
  font-size: 1.5rem;
  padding: 0.8rem 0;
  letter-spacing: 2rem;
  color: $petcolor02;
  font-weight: 800;
  text-align: center;
  position: relative;
  left: 15px;
}

.login-input-div {
  margin-top: 1rem;
}

.login-btn {
  padding-top: 1rem;

  &:nth-child(2) {
    background-color: $petcolor03;
    color: white;
    margin-left: 1rem;
  }
}

#no-member-text {
  margin: 1.5rem 0 0 1.4rem;
  letter-spacing: 0.1rem;
  a {
    color: $petcolor03;
    text-decoration: underline;
    cursor: pointer;
  }
}

// 註冊 --------------------------------------------
#reg_dialog {
  @include xs {
    width: 95%;
    height: 90%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  @include sm {
    width: 90%;
    height: 70%;
    flex-direction: column;
  }
  @include md {
    width: 80%;
    height: 90%;
    flex-direction: column;
  }
  @include lg {
    width: 70%;
    height: 90%;
    flex-direction: row;
  }
  @include xl {
    width: 60%;
    height: 70%;
    flex-direction: row;
  }

  .q-field--standard .q-field__control:before {
    border-bottom: none;
  }
  .q-field--standard .q-field__control:after {
    background: transparent
  }
  q-input{
    text-indent: 30px;
  }

  .registered-input {
    width: 100%;
    font-size: 1.2rem;
    color: $petcolor03;
    font-weight: 700;
    margin-bottom: 0.5rem;
    .account_text {
      margin: -0.9rem 1rem 0 0;
    }
    input {
      border-radius: 50px;
      text-indent: 20px;
      font-weight: 300;
      font-size: 1rem;
    }

    .q-field__control {
      background:#eee;
      border-radius: 50px;
      height: 56px;
      max-width: 100%
    }
  }

  .registered-btn {
    margin-top: 1.5rem;
  }

  .registered-font {
    height: 40px;
    font-size: 1.3rem;
    letter-spacing: 1rem;
    color: white;
    font-weight: 800;
    text-align: center;
    margin-top: 3.5rem;
  }

  .left {
    background:#C2B593;
    @include sm {
      height: 100%;
    }
    @include md {
      height: 100%;
    }
  }

  .registered-form {
    padding: 1rem;
  }
}

// quasar SCSS檔案修改
@media (min-width: 576px) {
  .q-dialog__inner--minimized > div {
    max-width: 80%;
  }
}

//取消底色圓角
.q-card > div:first-child,
.q-card > img:first-child {
  border-top-right-radius: 0;
}

.welcome {
  width: 100%;
  height: 100%;
  color: white;
  letter-spacing: 1.5rem;
  position: relative;
  left: 10px;
  top: -30px;
  font-weight: 500;
  font-size: 17px;
  @include sm {
    letter-spacing: 0.5rem;
  }
  @include md {
    letter-spacing: 0.8rem;
  }
}

#registered-logo {
  width: 180px;
  position: relative;
  top: 50px;
  left: -10px;
  @include xs {
    width: 100px;
    top: 20px;
    left: -10px;
  }
  @include sm {
    width: 130px;
    top: 20px;
  }
  @include md {
    width: 150px;
    top: 20px;
  }
  @include lg {
    width: 180px;
  }
}




// .registered-input {
//   color: $petcolor03;
//   font-size: 1rem;
//   input {
//     width: 200px;
//     height: 40px;
//     border-radius: 50px;
//     margin-bottom: 0.7rem;
//     text-indent: 10px;
//     border: none;
//     background: rgb(235, 235, 235);
//     font-weight: 300;
//     font-size: 1rem;
//     height: calc(1.5em + 0.75rem + 2px);
//     outline: none;
//   }
//   @include xs {
//     font-weight: 500;
//     margin: 0rem 0rem;
//   }
//   @include sm {
//     font-weight: 500;
//     margin: 1rem 0rem;
//   }
//   @include md {
//     font-weight: 500;
//     margin: 1rem 0rem;
//   }
//   @include lg {
//     font-weight: 700;
//     margin: 1rem 3rem;
//   }
// }

// index 搜尋列區--------------------------------------------
#index {
  input.q-field__native {
    height: 40px;
    border: 1px solid $petcolor02;
    border-radius: 100px;
    text-indent: 40px;
    margin-bottom: 0.2rem;

    &:focus {
      border: 2px solid $petcolor02;
    }
  }
  // 放大鏡 icon
  #search-icon {
    position: absolute;
    left: 10px;
    top: 8px;
    color: $petcolor02;
  }

  #search-select-out {
    @include xs {
      display: none;
    }
  }
  //搜尋條件
  #search-select {
    width: 130px;
    height: 30px;
    margin: 0 0rem;
    position: relative;
    top: 9px;
    color: $petcolor02;
    border-radius: 100px;
    text-indent: 28px;
  }

  // 消除搜尋條件預設效果
  .q-field--auto-height.q-field--labeled .q-field__control-container {
    padding-top: 0px;
  }

  .q-field--standard .q-field__control:before {
    border: 1px solid $petcolor02;
    border-radius: 100px;
    height: 38px;
    margin: 0px 1px 0 5px;
  }

  .q-field--standard .q-field__control:hover:before {
    border: 1px solid $petcolor02;
  }

  .q-field__control {
    color: transparent;
    height: 40px;
    max-width: 100%;
    outline: none;
  }

  .q-field__marginal {
    height: 56px;
    color: $petcolor02;
    font-size: 25px;
  }

  .random_btn {
    width: 200px;
    height: 40px;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: linear-gradient(45deg, rgb(253, 224, 96), rgb(169, 125, 240));
    color: white;
    animation: bg 3s infinite;
  }

  @keyframes bg {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
}

//搜尋按鈕--------------------------------------------
#search-btn {
  width: 160px;
  height: 40px;
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
  padding-bottom: 1rem;
  background: $petcolor02;
  color: white;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  font-weight: 900;
}

//使用者下拉頁面------------------------------------------
.q-item__section--side {
  padding-right: 10px !important;
}

.q-item__section--avatar {
  min-width: 30px;
}

//點擊後的顏色
.q-item.q-router-link--active,
.q-item--active {
  color: white;
}

.user_row:hover {
  background: #d6c8a4;
}

.user_menu {
  font-weight: 800;
}

// index 首頁照片區------------------------------------------
#index {
  .my-card {
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important;
    }
    @include xs {
      height: 200px;
    }
    @include sm {
      height: 250px;
    }
    @include md {
      height: 250px;
    }
    @include lg {
      height: 200px;
    }
    @include xl {
      height: 400px;
      margin: 0 0.5rem;
    }
  }

  .page {
    padding-bottom: 10px !important;
    @include xs {
      margin-top: 0rem !important;
      padding-top: 1rem !important;
    }
    @include sm {
      margin-top: 0rem !important;
      padding-top: 1rem !important;
    }
    @include md {
      margin-top: 1rem !important;
    }
    @include lg {
      margin-top: 1.5rem !important;
    }
    @include xl {
      margin-top: 2rem !important;
    }
  }
}

// 關於我們 --------------------------------------
#about-logo {
  @include xs {
    display: none;
  }
  @include sm {
    display: none;
  }
  @include md {
    width: 100px !important;
    margin-bottom: 15px;
    display: block;
  }
}

.about-h6 {
  font-weight: 800;
  color: $petcolor01;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.about-title {
  margin-top: 50px;
  font-size: 1rem !important;
  border-top: 1px solid $petcolor01;
  border-bottom: 1px solid $petcolor01;
}

.about-text {
  @include xs {
    padding: 30px;
  }
  @include sm {
    padding: 30px;
  }
  @include md {
    padding: 40px;
  }
  @include lg {
    padding: 50px;
  }
  @include xl {
    padding: 80px;
  }
}

#about-line {
  width: 100%;
  height: 1px;
  background: $petcolor01;
  margin: 1rem 0;
}

.aboutPetcle {
  letter-spacing: 0.05rem !important; 
  line-height:1.7rem !important
}

.about_text {
  line-height: 1.5rem;
}

.about-des {
  font-size: 1.2rem;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about-cube {
  @include xs {
    display: none;
  }
  @include sm {
    display: none;
  }
  @include lg {
    width: 7%;
    height: 10%;
    background: $petcolor01;
    position: absolute;
    top: 550px;
    display: block;
  }
}

// 聯絡我們表單-----------------
#csForm {
  width: 100%;
  background: $petcolor03 !important;
  padding: 5% 2%;
  margin: 4% 0;
}

.form_border {
  width: 100%;
  height: 100%;
  @include xs {
    flex-direction: column;
  }
  @include sm {
    flex-direction: column;
  }
  @include md {
    flex-direction: row;
  }
}

.about_input_div input {
  text-rendering: auto;
  color: -internal-light-dark-color(rgb(255, 255, 255), white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border: 1px solid white !important;
  text-indent: 20px;
  &:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.5);
  }
}

.about_input {
  width: 100% !important;
  height: 50px;
  background: transparent;
  &::placeholder {
    font-size: 1rem;
    color: white;
    font-weight: 800;
    letter-spacing: 0.2rem;
  }
}

.about_left {
  height: 100%;
  position: relative;
  @include xs {
    left: 41.5%;
  }
  @include sm {
    left: 2%;
  }
  @include md {
    top: -80px;
    left: -5%;
  }
  @include lg {
    top: -90px;
    left: -90px;
  }
}

#form_line {
  width: 1px;
  height: 350px;
  background: white;
  position: absolute;
  @include xs {
    display: none;
  }
  @include sm {
    display: none;
  }
  @include lg {
    display: block;
    top: -15px;
    left: 150px;
  }
}

.full-width {
  color: #333 !important;
}

// 想說的話
.about_textarea textarea {
  width: 100%;
  height: 150px;
  background: transparent;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 5px;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0em;
  font: 400 13.3333px Arial;
  font-size: 0.8rem;
  border: 1px solid white;
  padding: 1rem;
  &::placeholder {
    color: white;
    font-weight: 800;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    // padding-left: 10px;
    // padding-top: 10px;
    opacity: 1; /* Firefox */
  }
  &:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.5);
  }
}

// 送出拿掉陰影
.q-btn__wrapper:before {
  box-shadow: none !important;
}

// 我的主頁--------------------------------------------
#mypage {
  .user_des {
    @include xs {
      flex-direction: row;
    }
    @include sm {
      flex-direction: row;
    }
    @include md {
      flex-direction: column;
    }
    @include lg {
      flex-direction: column;
    }
  }

  .user {
    @include xs {
      margin-left: 2rem;
      flex-direction: column;
    }
    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }

  .mypage_btnG {
    margin-top: 1rem;
    @include xs {
      flex-direction: row;
      border-top: 1px solid rgb(199, 199, 199);
      padding-top: 1rem;
    }
    @include sm {
      flex-direction: row;
    }
    @include lg {
      flex-direction: column;
    }
  }

  .mypage_btn {
    margin-bottom: 1rem !important;
    font-weight: 900;
    @include xs {
      flex-direction: row;
      border: none;
    }
    @include sm {
      flex-direction: row;
      border: none;
    }
    @include lg {
      flex-direction: column;
      border: 1.5px solid $petcolor01 !important;
    }
  }

  .btn_title {
    margin-left: 0.5rem;
    @include xs {
      display: none;
    }
    @include sm {
      display: none;
    }
    @include md {
      display: block;
    }
    @include lg {
      display: block;
    }
  }

  .mypage_line {
    border-right: 1px solid rgb(199, 199, 199);
    @include xs {
      border-right: none;
    }
  }

  .title {
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  .account {
    font-size: 1rem;
    color: $petcolor03;
  }
}

// 主頁上傳照片視窗-----------------------------
#upload_dialog {
  @include xs {
    width: 90%;
    height: 85%;
  }
  @include sm {
    width: 90%;
    height: 80%;
  }
  @include md {
    width: 70%;
    height: 80%;
  }
  @include lg {
    width: 60%;
    height: 70%;
  }
  @include xl {
    width: 30%;
    height: 70%;
  }
}

.upload_title {
  font-size: 1.5rem;
  letter-spacing: 2rem;
  color: white;
  font-weight: 800;
  text-align: center;
  position: relative;
  left: 15px;
  top: 10px;
}

.upload_close {
  position: relative;
  top: -25%;
  left: 25%;
}

.uploadphoto_des {
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.3rem !important;
  font-weight: 600;
  color: $petcolor03;
}

.ULanimaltype {
  border: none !important;
  border-radius: 2px;
  @include xs {
    margin-top: 1rem;
    background: #eee;
    height: 100px;
    font-size: 1rem;
    color: #333;
    padding: 10px 0;
    outline: none;
  }
  @include sm {
    margin-top: 1rem;
    background: #eee;
    height: 100px;
    font-size: 1rem;
    color: #333;
    padding: 10px 0;
    outline: none;
  }
  @include md {
    margin-top: 0rem;
    background: #eee;
    height: 100px;
    font-size: 1rem;
    color: #333;
    padding: 10px 0;
    outline: none;
  }
}

.ULanimaltype_bp {
  border: none !important;
  border-radius: 2px;
  @include xs {
    width: 100%;
    margin-bottom: 1rem;
    background: #eee;
    font-size: 1rem;
    color: #333;
    padding: 10px 0;
    outline: none;
  }
  @include sm {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #eee;
    font-size: 1rem;
    color: #333;
    padding: 10px 0;
    outline: none;
  }
  @include md {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 1rem;
    background: #eee;
    font-size: 1rem;
    color: #333;
    padding: 10px 0;
    outline: none;
  }
}

.UPcancel {
  z-index: 1;
  cursor: pointer;
  @include xs {
    top: 10px;
    left: 350px;
  }
  @include md {
    top: 10px;
    left: 450px;
  }
  @include lg {
    top: 10px;
    left: 500px;
  }
}

//毛孩大小事---------------------
#question {
  overflow-x: hidden;
  margin-top: 2rem;
  width: 100%;
  #pedia_enter {
    width: auto;
    height: 40px;
    background: $petcolor02;
    color: white;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-weight: 900;
  }
  q-input {
    border: 1px solid $petcolor02;
  }

  input.q-field__native {
    border: 1px solid $petcolor01;
    border-radius: 100px;
    text-indent: 40px;
    margin-bottom: 0.2rem;

    &:focus {
      border: 2px solid $petcolor01;
    }
  }
  // 放大鏡 icon
  #search-icon {
    position: absolute;
    left: 10px;
    top: 6px;
    color: $petcolor01;
  }

  #search-select-out {
    @include xs {
      display: none;
    }
  }
  //搜尋條件
  #search-select {
    width: 130px;
    height: 30px;
    margin: 0 0rem;
    position: relative;
    top: 9px;
    color: $petcolor01;
    border-radius: 100px;
    text-indent: 28px;
  }

  .q-field--standard .q-field__control:before {
    border: 1px solid $petcolor01;
    border-radius: 100px;
    height: 38px;
    margin: 0px 1px 0 5px;
  }

  .q-field--standard .q-field__control:hover:before {
    border: 1px solid $petcolor01;
  }

  .q-field__control {
    color: transparent;
    height: 40px;
    max-width: 100%;
    outline: none;
  }

  .q-field__marginal {
    height: 56px;
    color: $petcolor01;
    font-size: 25px;
  }

  .btn {
    width: 160px;
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
    padding-bottom: 1rem;
    background: $petcolor01;
    color: white;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-weight: 900;
  }

  .search {
    @include xs {
      display: none;
    }
    @include sm {
      display: none;
    }
    @include md {
      display: none;
    }
    @include lg {
      display: none;
    }
    @include xl {
      display: block;
      height: 49px;
      padding: 0 1rem;
      padding-top: 0.4rem;
      border-left: 1px solid $petcolor01;
      border-right: 1px solid $petcolor01;
    }
  }

  .tab {
    @include xs {
      border-left: 1px solid transparent;
    }
    @include sm {
      border-left: 1px solid transparent;
    }
    @include lg {
      border-left: 1px solid $petcolor01;
    }
  }

  .tab-panels {
    margin-top: 2rem;
  }

  .qus_btn {
    padding: 0.5rem;
    border-radius: 7px;
  }

  .border {
    border: 2px solid $petcolor01;
    border-radius: 8px;
    padding: 1rem;
  }

  .title {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 800;
    text-align: left;
  }

  .chip {
    margin-left: auto;
  }

  .qus_card_top {
    border-bottom: 1px solid $petcolor01;
    margin-bottom: 1rem;
    width: 100% !important;
  }

  .dis_date {
    margin-left: auto;
    color: $petcolor03;
    font-size: 0.5rem;
  }

  .des {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-align: left;
    font-size: 1rem;
    font-weight: 350;
    letter-spacing: 0.05rem;
  }

  .name {
    padding-left: 1rem;
    padding-top: 0.1rem;
    font-weight: 400;
    font-size: 1rem;
  }

  .fb_length {
    font-size: 2rem;
    color: $petcolor02;
    padding-right: 0.5rem;
  }

  .qus_card_bottom {
    padding-top: 1rem;
  }

  .space {
    @include xs {
      display: none;
    }
    @include sm {
      display: none;
    }
    @include lg {
      display: block;
    }
  }

  .m-auto {
    margin-right: auto;
    margin-left: auto;
  }

  .w-85 {
    width: 85%;
  }

  // 我要發問按鈕
  .que-btn {
    z-index: 9999;
    position: fixed !important;
    right: 20px;
    top: 80%;
    font-size: 1rem;

    q-btn {
      box-shadow: 0 0 15px #ffffff;
    }

    p {
      width: 60px;
      color: white;
      position: relative;
      top: -104px;
      left: 27px;
      font-size: 1.5rem;
      line-height: 1.7rem;
      letter-spacing: 0.2rem;
      font-weight: 600;
      pointer-events: none;
    }
  }

  #qes_dialog {
    height: 600px !important;
    z-index:999999 !important;

    .asker {
      margin-left: 0.5rem;
      height: 50px;
    }
  }

  .ml-auto {
    margin-left: auto;
  }

  .fb_line {
    height: 1px !important;
    padding: 0px !important;
    border-bottom: 1px solid rgb(138, 138, 138) !important;
  }
}

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)
  > .swal2-modal {
  margin: auto;
  z-index: 999;
}

.fb_btn {
  width: 90%;
  resize: none;
  outline: none;
  border: none;
  background: #f3f3f3;
  margin-right: 10px;
}

.dis_title {
  margin-left: 0.5rem;
  font-weight: 800 !important;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.qes_date {
  margin: 0.5rem 0 0 1rem;
  color: $petcolor03;
}

.dis_des {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

// 網友回覆區
.fb {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

//發問跳出視窗，抓回應者與內容的排版
.fb-1 {
  width: 60px !important;
  margin:0 1rem 0.5rem 1rem;
  font-weight: 800;
  color: $petcolor02;
}

.fb-2 {
  margin-top: 0.3rem !important;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.fb-3 {
  margin-top: 0.3rem !important;
  font-size: 0.5rem;
  color: $petcolor03;
}

// 我要發問-彈出視窗
#quedialog {
  @include xs {
    width: 90%;
    height: 60%;
  }
  @include sm {
    width: 90%;
    height: 60%;
  }
  @include md {
    width: 70%;
    height: 60%;
  }
  @include lg {
    width: 60%;
    height: 60%;
  }
  @include xl {
    width: 40%;
    height: 60%;
  }
  .top {
    background: $petcolor01;
  }

  .title {
    font-size: 1.5rem;
    letter-spacing: 2rem;
    color: white;
    font-weight: 800;
    position: relative;
    left: 15px;
  }

  .qes_div {
    height: 80%;
  }

  .q-form {
    width: 80%;
    margin-top: 2rem;
  }

  .input_title {
    margin-bottom: 1rem;
  }

  .select {
    border: none !important;
    border-radius: 2px;
    @include xs {
      width: 100%;
      margin-bottom: 1rem;
      background: #eee;
      font-size: 1rem;
      color: #333;
      padding: 10px 0;
      outline: none;
    }
    @include sm {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background: #eee;
      font-size: 1rem;
      color: #333;
      padding: 10px 0;
      outline: none;
    }
    @include md {
      width: 100%;
      margin-top: 0rem;
      margin-bottom: 1rem;
      background: #eee;
      font-size: 1rem;
      color: #333;
      padding: 10px 0;
      outline: none;
    }
  }

  .btn {
    margin-top: 3rem;
  }

  .textarea {
    resize: none;
  }
}

// 設定discuss彈出視窗寬度
.w-RWD {
  width: 80%;
  @include xs {
    width: 95% !important;
  }
  @include sm {
    widows: 80% !important;
  }
  @include md {
    width: 80% !important;
  }
  @include lg {
    width: 60% !important;
  }
  @include xl {
    width: 50% !important;
  }
}

// 療癒空間------------------------

#space {
  .spaceMenu-background {
    background: #464544;
    color: white;
  }

  .space_carousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 40%;
  }
}

.pet_card {
  @include xs {
    width: 95%;
  }
  @include sm {
    width: 95%;
  }
  @include md {
    width: 55%;
  }
  @include lg {
    width: 40%;
  }
  @include xl {
    width: 25%;
  }
}
.q-dialog__inner > div {
  border-radius: 5px !important;
}
.photoBox {
  width: 100% !important;
  height: 100% !important;
}

.photo {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.my-pet-card {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include xs {
    height: 150px;
  }
  @include sm {
    height: 180px;
  }
  @include md {
    height: 200px;
  }
  @include lg {
    height: 150px;
  }
  @include xl {
    height: 250px;
    margin: 0 0.5rem;
  }
}

//最新消息-------------------
#news {
  margin-top: 2rem;
  .width {
    @include xs {
      width: 95%;
    }
    @include sm {
      width: 95%;
    }
    @include md {
      width: 80%;
    }
    @include lg {
      width: 70%;
    }
  }
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    }
    ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba($petcolor02, 0.3);
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 50px rgba($petcolor02, 0.8);
    }
    
    ::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 50px rgba($petcolor02, 1);
    }
}

.news_table {
  height: 800px !important;
  .q-table__card {
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: none;
  }
}

.news_row {
  padding: 2rem 0;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.type_cube {
  width: 50px !important;
  height: 50px !important;
  // background: $petcolor01;
  color: white;
  display: block;
  font-size: 1rem;
  padding: 0.4rem 0.2rem 0.2rem 0.2rem;
  text-align: center;
  line-height: 1.2rem;
  font-weight: 800;
}

.table_title {
  padding-left: 1.2rem;
  padding-top: 1rem;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.table_date {
  font-size: 0.8rem;
  color: #333;
}

// 最新消息文章頁------------------------
#newsContent {
  .title {
    color: $petcolor02;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 1.5rem;
  }
  .line {
    height: 1px !important;
    background: rgb(189, 189, 189) !important;
    @include md {
      width: 60% !important;
    }
    @include xs {
      width: 90%;
    }
    @include sm {
      width: 90%;
    }
  }

  .type {
    background: $petcolor01;
    width: 150px;
    padding: 1.1rem 0.5rem 0.1rem 0.5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-align: center;
    line-height: 1.5rem;
  }

  .width {
    @include md {
      width: 60% !important;
    }
    @include xs {
      width: 90%;
    }
    @include sm {
      width: 90%;
    }
  }

  .box {
    height: 100%;
    margin-top: 2rem;
    @include md {
      width: 60% !important;
    }
    @include xs {
      width: 90%;
    }
    @include sm {
      width: 90%;
    }
  }

  .object-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text {
    margin-top: 2rem;
    width: 100%;
    line-height: 1.7rem;
  }
}

// 寵物百科 ----------------------------
.pedia-card {
  border: 1px solid rgb(180, 180, 180);
  height: 300px !important;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include xs {
    height: 150px;
  }
  @include sm {
    height: 200px;
  }
  @include md {
    height: 200px;
  }
  @include lg {
    height: 200px;
  }
  @include xl {
    height: 200px;
    margin: 0 0.5rem;
  }
}

#pedia {
  height: 300px;
  margin: 1rem;
  .q-card {
    box-shadow: none;
    border-radius: 4px 4px 0px 0px;
  }

  .title {
    font-weight: 800;
  }

  q-btn:hover {
    border-bottom: 2px solid #333;
  }
}

// 設定卡片說明文字為2行
.pedia_des {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

// 百科 PediaContent
#pediaContent {
  .box {
    height: 100%;
    width: 100%;
    margin-top: 2rem;
  }
  .title {
    color: #333;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 1.5rem;
    border-left: 10px solid #c2b593;
    padding-left: 1rem;
  }

  .line {
    height: 1px !important;
    background: rgb(189, 189, 189) !important;
    @include md {
      width: 100% !important;
    }
    @include xs {
      width: 100%;
    }
    @include sm {
      width: 100%;
    }
  }

  .date {
    margin-right: auto;
  }

  .type {
    color: $petcolor01;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    line-height: 1rem;
    justify-content: flex-end;
    text-align: right;
  }

  .width {
    @include md {
      width: 85% !important;
    }
    @include xs {
      width: 90%;
    }
    @include sm {
      width: 90%;
    }
  }

  .object-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text {
    margin-top: 2rem;
    width: 100%;
    line-height: 1.7rem;
  }
}

// 寵物頁面----------------------
// petpage-----------------------
#petpage {
  margin-top: 5rem !important;

  .nopet_Page {
    width: 800px;
    height: 500px;
    background: rgb(243, 243, 243);
    border: 2px dotted rgb(189, 189, 189);
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 5rem;
  }

  .uploadPet_btn:hover {
    background: $petcolor01;
    color: white !important;
  }

  .h-100 {
    height: 100%;
  }

  .petpage_row {
    margin-bottom: 5rem;
    background: #eee;
    padding: 2rem 0;
    border-radius: 10px;
  }

  .box {
    width: 400px;
    height: 400px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .petFile_Change {
    width: 250px;
    height: 50px;
    background: white;
    position: relative;
    top: 160px;
    left: -320px;
    border-radius: 10px;
  }

  .right {
    padding: 0 2rem;
    @include xs {
      padding: 0;
      padding-bottom: 2rem;
    }
  }

  .edit_icon {
    position: relative;
    top: 10%;
    left: 100%;
    @include xs {
      margin-top: 1rem;
    }
    @include sm {
      margin-top: 1rem;
    }
    @include md {
      margin-top: 1rem;
    }
    @include lg {
      margin-top: 1rem;
    }
    @include xl {
      margin-top: 0rem;
    }
  }

  .pet_icon {
    margin-right: 1rem;
  }

  .name {
    font-size: 2.2rem;
    margin-right: 1rem;
  }

  .name_edit {
    margin: 1rem 0;
    height: 50px;
  }

  .master {
    margin-right: auto;
    color: #666;
    padding-top: 1rem;
  }

  .mail_btn {
    width: 130px;
    letter-spacing: 0.1rem;
  }

  .type {
    margin-top: 2rem;
    font-size: 1rem;
    color: $petcolor01;
    font-weight: 800;
  }

  .line {
    width: 100%;
    height: 1px;
    background: rgb(172, 172, 172);
  }

  .animal {
    height: 22px;
    text-align: right;
    border-right: 1px solid $petcolor01;
    padding-right: 1rem;
  }

  .breed {
    padding-left: 1rem;
  }

  .edit_animal {
    border: none !important;
    border-radius: 2px;
    margin-top: 1rem;
    background: #e0e0e0;
    height: 50px;
    font-size: 0.9rem;
    font-weight: 400;
    color: black;
    padding: 10px 0;
    text-indent: 10px;
  }

  .edit_breed {
    border: none !important;
    border-radius: 2px;
    margin-top: 1rem;
    background: #e0e0e0;
    height: 50px;
    font-size: 0.9rem;
    font-weight: 400;
    color: black;
    padding: 10px 0;
    text-indent: 10px;
    @include md {
      margin-left: 1rem;
    }
  }

  .pet_des {
    letter-spacing: 0.05rem;
  }
}

// 上傳寵物------------------------
#uploadPet {
  .top {
    background: $petcolor01;
  }

  .bottom {
    height: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 1.5rem;
    letter-spacing: 1.5rem;
    color: white;
    font-weight: 800;
    position: relative;
    left: 15px;
  }

  .ULanimaltype {
    border: none !important;
    border-radius: 2px;
    @include xs {
      margin-top: 1rem;
      background: #eee;
      height: 50px;
      font-size: 1rem;
      color: #333;
      padding: 10px 0;
      outline: none;
    }
    @include sm {
      margin-top: 1rem;
      background: #eee;
      height: 50px;
      font-size: 1rem;
      color: #333;
      padding: 10px 0;
      outline: none;
    }
    @include md {
      margin-top: 0rem;
      background: #eee;
      height: 50px;
      font-size: 1rem;
      color: #333;
      padding: 10px 0;
      outline: none;
    }
  }

  .pet-btn {
    padding-top: 2rem;
  }
}

// 寵物頁面(外人版)
#sendMail {
  border: 1px solid $petcolor01;
  height: 60%;
  @include xs {
    width: 90%;
  }
  @include sm {
    width: 90%;
  }
  @include md {
    width: 70%;
  }
  @include lg {
    width: 60%;
  }
  @include xl {
    width: 40%;
  }
  .top {
    border-bottom: 2px solid $petcolor01;
  }

  .title {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: $petcolor01;
    font-weight: 800;
    margin: 1rem 0 2rem 0;
  }

  .qes_div {
    height: 65%;
  }

  .q-form {
    width: 80%;
    margin-top: 2rem;
  }

  .input_title {
    margin-bottom: 1rem;
  }

  .select {
    border: none !important;
    border-radius: 2px;
    @include xs {
      width: 100%;
      margin-bottom: 1rem;
      background: #eee;
      font-size: 1rem;
      color: #333;
      padding: 10px 0;
      outline: none;
    }
    @include sm {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background: #eee;
      font-size: 1rem;
      color: #333;
      padding: 10px 0;
      outline: none;
    }
    @include md {
      width: 100%;
      margin-top: 0rem;
      margin-bottom: 1rem;
      background: #eee;
      font-size: 1rem;
      color: #333;
      padding: 10px 0;
      outline: none;
    }
  }

  .btn {
    margin-top: 3rem;
  }

  .textarea {
    resize: none;
  }
}

// 寶貝信箱視窗-------------------------
#mailDialog {
  flex-direction: column !important;

  .w-100 {
    width: 100%;
  }

  .h-60 {
    height: 60%;
  }

  .bg-pet02 {
    background: $petcolor02;
  }

  .bg-pet01 {
    background: $petcolor01;
  }

  .top {
    width: 410px;
    height: 150px;
    border-radius: 0px;
  }

  .center {
    width: 500px;
    height: 300px;
    background: white;
    @include xs {
      width: 100% !important;
    }
  }

  .bottom {
    width: 500px;
    height: 70px;
    background: white;
    border-radius: 0 0 10px 10px;
    @include xs {
      width: 100% !important;
    }
  }

  .sendReco_btn {
    width: 100%;
    height: 100%;
  }

  // 拿掉預設左右下方圓角
  .q-card > div:last-child,
  .q-card > img:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .newMail {
    margin: 0.5rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
  }

  .title {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin: 0 0 1rem 0.5rem;
    color: white;
  }

  .mr-auto {
    margin-right: auto;
  }

  .mailtitle {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
  }

  .sender {
    margin-top: 0.5rem;
  }

  .senderName {
    height: 30px;
    margin-bottom: 0.4rem;
    padding-bottom: 0.3rem;
    font-weight: 600;
  }

  .mailRecord {
    width: 100%;
    height: 100%;
    border-top: 1px solid $petcolor01;
  }

  .fixed,
  .fixed-full,
  .fullscreen,
  .fixed-center,
  .fixed-bottom,
  .fixed-left,
  .fixed-right,
  .fixed-top,
  .fixed-top-left,
  .fixed-top-right,
  .fixed-bottom-left,
  .fixed-bottom-right {
    flex-direction: column;
    justify-content: center;
  }

  .q-dialog__inner > div {
    border-radius: 0px !important;
  }

  .q-dialog__inner > div {
    box-shadow: none;
  }

  // .mailSearch {
    
  //   border: 1px solid $petcolor02;
  //   border-radius: 100px;
  //   text-indent: 40px !important;
  //   margin-bottom: 0.2rem;

  //   &:focus {
  //     border: 2px solid $petcolor02;
  //   }
  // }

  input.q-field__native {
    width: 280px;
    height: 40px;
    border: 1px solid $petcolor02;
    border-radius: 100px;
    text-indent: 40px;
    margin-bottom: 0.2rem;
    margin-right: 1rem;

    &:focus {
      border: 2px solid $petcolor02;
    }
  }
  // 放大鏡 icon
  #search-icon {
    position: absolute;
    left: 10px;
    top: 8px;
    color: $petcolor02;
  }
}

.getName {
  height: 30px;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
  font-weight: 600;
}

// 信件內容
#checkMail {
  .mailCard {
    @include xs {
      width: 90%;
    }
    @include sm {
      width: 90%;
    }
    @include md {
      width: 70%;
    }
    @include lg {
      width: 40%;
    }
    padding: 1rem;
    border: 5px solid $petcolor02;
  }

  .border-b1 {
    border-bottom: 1px solid #eee;
  }

  .title {
    font-size: 1rem;
    color: $petcolor02;
    font-weight: 800 !important;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }

  .mailTitle {
    font-weight: 600 !important;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    text-align: left;
    margin-right: auto;
  }

  .date {
    color: $petcolor03;
    margin-bottom: 0;
  }

  .mailDes {
    font-weight: 300 !important;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
  }

  .reply {
    margin-top: 2rem;
    font-size: 1rem;
  }

  .reply-btn {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}

// 寄信紀錄搜尋框
#sendMails {
  input.q-field__native {
    width: 280px;
    height: 40px;
    border: 1px solid $petcolor01;
    border-radius: 100px;
    text-indent: 40px;
    margin-bottom: 0.2rem;
    margin-right: 1rem;

    &:focus {
      border: 2px solid $petcolor01;
    }
  }
  // 放大鏡 icon
  #search-icon {
    position: absolute;
    left: 10px;
    top: 8px;
    color: $petcolor01;
  }
}

// 寄信紀錄
#checkReMail {
  .mailCard {
    @include xs {
      width: 90%;
    }
    @include sm {
      width: 90%;
    }
    @include md {
      width: 70%;
    }
    @include lg {
      width: 40%;
    }
    padding: 1rem;
    border: 5px solid $petcolor01;
  }

  .border-b1 {
    border-bottom: 1px solid #eee;
  }

  .title {
    font-size: 1rem;
    color: $petcolor02;
    font-weight: 800 !important;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }

  .mailTitle {
    font-weight: 600 !important;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    text-align: left;
    margin-right: auto;
  }

  .date {
    color: $petcolor03;
    margin-bottom: 0;
  }

  .mailDes {
    font-weight: 300 !important;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
  }

  .reply {
    margin-top: 2rem;
    font-size: 1rem;
  }

  .reply-btn {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}

// footer------------------------
.footer {
  height: 300px;
  background: #56c6bf;
  width:90%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  @include xs {
    height: 1000px;
    width: auto;
  }
}

#footer {
  width: 100%;
  background: $petcolor02;

  .footer {
    height: 100%;
  }

  .left {
    @include xs {
      margin-top:0px;
    }
    @include sm {
      margin-top:60px;
    }
    @include md {
      margin-top:60px;
    }
    @include lg {
      margin-top:100px;
    }
    @include xl {
      margin-top:100px;
    }
  }

  .dis {
    @include xs {
      display: none;
    }
    @include sm {
      display: none;
    }
    @include md {
      display: none;
    }
    @include lg {
      display: none;
    }
    @include xl {
      display: block;
    }
  }

  .footer_col {
    border-left: 1px solid white;
    padding-left: 3rem;
    margin-top: 3rem;
    h6 {
      margin-top: 0px;
    }
  }

  .footer_li {
    list-style: none;
    color: white;
    line-height: 2rem;
    padding-left: 0;
    margin-bottom: 0px;
  }

  .q-item {
    min-height: 30px;
    padding: 5px 0px;
    color: inherit;
    transition: color 0.3s, background-color 0.3s;
  }
}

//adminLayout -----------------------------
#adminLayout {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    height: 100%;
  }
}
#admin_img {
  width: 130px;
  height: 100%;
  padding-top: 5rem;
}

.admin_menu {
  margin-top: 5rem;
  margin-bottom: auto;
  padding-left: 0;
  li {
    list-style: none;
    padding-left: 0px;
    padding-top: 0.7rem;
    display: block;
    width: 100%;
    height: 70px;
    text-align: center;
    font-weight: 800;
    color: white;
  }
  .menu_btn {
    width: 100% !important;
    height: 100% !important;
    font-size: 1rem !important;
    letter-spacing: 0.2rem !important;
    &:hover {
      background: #333;
    }
  }
}

.adminTitle {
  border-bottom: 2px solid #333;
  font-weight: 600;
}

.admin_btn {
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

body.desktop .q-focusable:focus > .q-focus-helper,
body.desktop .q-manual-focusable--focused > .q-focus-helper,
body.desktop .q-hoverable:hover > .q-focus-helper {
  background: transparent;
  opacity: 0;
}

// admin最新消息-----------------------
#admin_new {
  .q-table--no-wrap th,
  .q-table--no-wrap td {
    white-space: normal;
  }
  .q-table {
    table-layout: fixed;
  }
}

#adminnew_dialog {
  @include xs {
    width: 90%;
    height: 85%;
  }
  @include sm {
    width: 90%;
    height: 80%;
  }
  @include md {
    width: 80%;
    height: 80%;
  }
  @include lg {
    width: 70%;
    height: 90%;
  }
  @include xl {
    width: 35%;
    height: 70%;
  }
}

// 留言管理
.mr-1 {
  margin-right: 1rem;
}

// seeetalert2改層級--------------------------------------------------------
.swal2-container,
.swal2-center {
  z-index: 9999999 !important;
}

// .swal2-styled.swal2-confirm {
//   border: 0;
//   border-radius: .25em;
//   background: initial;
//   background-color: $petcolor01 !important;
//   color: #fff;
//   font-size: 1.0625em;
// }

// boostrap-----------------------------------------------------------

// container 區
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 90%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px;
  }
}

// row
.row-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
